<footer class="footer" role="contentinfo" aria-label="footer">
    <div class="footer-op-link">
        <a target="_blank" href="https://secure.opinionlab.com/ccc01/comment_card_d.asp?referer=https%3A%2F%2Fnextgen.cardinalhealth.com/closure&customVars=%7Bkey1%3A%20%27value1%27%2C%20key2%3A%20%27value2%27%2C%20key3%3A%20%27value3%27%7D"
        target="popup"
        onClick="window.open('https://secure.opinionlab.com/ccc01/comment_card_d.asp?referer=https%3A%2F%2Fnextgen.cardinalhealth.com/closure&customVars=%7Bkey1%3A%20%27value1%27%2C%20key2%3A%20%27value2%27%2C%20key3%3A%20%27value3%27%7D',
        'popup', 'width=300,height=300'); return false;">
            <svg class="icon mr-2" focusable="false">
                <use xlink:href="assets/static/icons/icon-feedback-outline.svg#asset"></use>
                <title></title>
            </svg>
            <span>Tell Us What You Think</span>
        </a>
    </div>
    <div class="footer-main pt-4">
        <a href="tel:8003266457" class="text-md-right" >Tech Support: 800.326.6457</a>
        <svg class="icon" focusable="false">
            <use xlink:href="assets/static/icons/icon-support-call.svg#asset"></use>
            <title>Support Call</title>
        </svg>
        <a href="tel:8003345529" class="text-md-left" >Customer Service: 800.334.5529</a>
    </div>
    <div class="footer-links d-none">
        <a href="#" class="text-md-right">Help Guide</a>
        <a href="#" class="text-md-center">Privacy Policy</a>
        <a href="#" class="text-md-left">Terms of Service</a>
    </div>
    <div class="footer-copyright pb-4">
        <span>&copy;2021 Cardinal Health. All rights reserved.</span>
    </div>
</footer>
